<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <%- include('../partials/head', {title: product.nombre}) %>
  </head>
  <body class="js-head-offset head-offset">
    <%- include('../partials/header') %>
    <!-- product detail -->
    <main class="main-container">
      <div class="container products-wrapper">
        <div class="row">
          <div class="col-12">
          </div>
        </div>
        <div class="product-detail">
          <div class="row">
            <div class="col-12 col-lg-8">
              <% product.images.forEach(image => { %>
                <% if (image.order === 1) { %>
                  <img src="/img/productos/<%= image.file %>" alt="imagen de <%= product.nombre %>-<%= image.order %>">
                <% } %>
                <img src="/img/productos/<%= image.file %>" alt="imagen de <%= product.nombre %>-<%= image.order %>" class="images-detail">
              <% }) %>
              <div class="description"> 
                  <p class="product-detail-description">
                    <%= product.descripcion %>
                  </p>
                  <p class="product-detail-description">
                    Talles:
                    <% const { xs, s, m, l, xl, unico } = product;
                      const talles = { xs, s, m, l, xl, unico };
                      Object.entries(talles).forEach(([talle, cantidad]) => {
                        if (cantidad > 0) { %>
                          <%= talle.toUpperCase() %>. 
                        <% }
                      }); %>
                  </p>
                  <p class="product-detail-description">
                    Color: <%= product.color %>.
                  </p>
                  <p class="product-detail-description">
                    Material: <%= product.material %>.
                  </p>
              </div>

            </div>
            <div class="col-12 col-lg-4">
              <!-- <article class="product-detail-info"> -->
                <article>
                  <div class="product-detail">
                    <h2 class="product-detail-title"> <%= product.nombre %></h2>
                  
                    <% if (+product.descuento !== 0) { %>
                      <p class="product-detail-price small">
                        <span>$<%= toThousand(product.precio) %></span>
                        /
                        <b><%= product.descuento %>% OFF</b>
                      </p>
                      <p class="product-detail-price">
                        $<%= toThousand(product.precio - (product.precio * product.descuento) / 100) %> 
                      </p>
                    <% }else{ %>
                
                      <p class="product-detail-price">
                        $<%= toThousand(product.precio) %>
                      </p>
                      <% } %>

                  </div>
                  <button value="<%= product.id %>" id="btn-cart-add" class="buy-now-button W-100">AGREGAR AL CARRITO</button>
                  <hr>
                  <% if (userLogin && userLogin.rol === 1) { %>
                  <a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                  <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete" style="cursor:pointer;">ELIMINAR</button>
                  </form>
                  <% } %>
              </article>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- /product detail -->
    <%- include('../partials/footer') %>
    <script src="/js/header.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>