<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head', {title: 'Crea tu cuenta' }) %>
  </head>
  <body class="js-head-offset head-offset">
    <%- include('../partials/header') %>
    <main id="register-form" class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="card-body">
                <div class="brand-wrapper">
                  <img src="/img/design/logo.png" alt="logo" class="logo">
                </div>
                <p class="login-card-description">Crear cuenta</p>
                <form id="register-form" action="" method="POST" data-store="account-register" data-toggle="validator"
                  role="form">
                  <div class="field-set">
                    <div class="mb-2 form-doblecampo">
                      <input class="form-input form-campo <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
                      id="txt-input" type="text" name="nombre" placeholder="Nombre" 
                      value="<%= locals.old && old.nombre ? old.nombre : null %>" 
                      title="El nombre debe tener más de tres caracteres" data-minlength="3" required>
                      <small id="errorNombre" class="notification-danger notification-left">
                        <%= locals.errors && errors.nombre ? errors.nombre.msg : null %>
                      </small>
                      <input class="form-input form-campo <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" 
                      id="txt-input" type="text" name="apellido" placeholder="Apellido" 
                      value="<%= locals.old && old.apellido ? old.apellido : null %>" 
                      title="El nombre debe tener más de tres caracteres" data-minlength="3" required>
                      <small id="errorApellido" class="notification-danger notification-left">
                        <%= locals.errors && errors.apellido ? errors.apellido.msg : null %>
                      </small>
                    </div>
                    <div class="mb-2 form-campo">
                      <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                      </span>
                      <input class="form-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                      id="txt-input" type="email" name="email" placeholder="@Correo" 
                      value="<%= locals.old && old.email ? old.email : null %>" 
                      title="El email debe ser valido" required>
                      <small id="errorEmail" class="notification-danger notification-left">
                        <%= locals.errors && errors.email ? errors.email.msg : null %>
                      </small>
                    </div>
                    <div class="mb-2 form-campo form-group">
                      <span class="input-item">
                        <i class="fa fa-key"></i>
                      </span>
                      <input class="form-input <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password" placeholder="Contraseña" id="pwd" name="password"
                        required data-minlength="6" data-maxlength="18"
                        title="Debe tener min. 6 caracteres y max. 18.">
                      <span>
                        <i class="fa fa-eye-slash" aria-hidden="true" type="button" id="eye"></i>
                      </span>
                      <small id="errorPass" class="notification-danger notification-left">
                        <%= locals.errors && errors.password ? errors.password.msg : null %>
                      </small>
                    </div>
                    <div class="form-group">
                      <div class="mb-2 form-campo">
                        <span class="input-item">
                          <i class="fa fa-key"></i>
                        </span>
                        <input class="form-input <%= locals.errors && errors.confirm_password ? 'is-invalid' : null %>" type="password" placeholder="Confirmar contraseña" id="pwd-confirm"
                          name="confirm_password" required data-match="#pwd"
                          data-match-error="Ups, las contraseñas no coinciden!">
                        <span>
                          <i class="fa fa-eye-slash eye" aria-hidden="true" type="button" id="eye-confirm"></i>
                        </span>
                        <small id="errorPass2" class="notification-danger notification-left">
                          <%= locals.errors && errors.confirm_password ? errors.confirm_password.msg : null %>
                        </small>
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="notification-danger notification-left" id="notification-danger" style="display: none;">
                      Las contraseñas no coinciden.</div>
                    <div class="mb-1">
                      <input class="form-check-input <%= locals.errors && errors.bases ? 'is-invalid' : null %>" type="checkbox" name="bases" id="termsCheck" required>
                      <label class="form-check-label" for="bases">Acepto los términos y condiciones.</label>
                    </div>
                    <button class="btn btn-block login-btn mb-4 log-in" id="register-btn" type="submit"
                      value="Crear cuenta" disabled> Crear cuenta </button>
                  </div>
                  <p id="errorTerms" class="notification-danger notification-left mt-4">
                    <%= locals.errors && errors.bases ? errors.bases.msg : null %>
                  </p>
                  <p id="msgError" class="notification-danger notification-left"></p>
                </form>
                <p class="login-card-footer-text">¿Ya tenés una cuenta? <a href="/account/login"
                    class="text-reset">Iniciá sesión</a></p>
              </div>
            </div>
            <div id="mensaje-login" class="col-md-5">
              <img src="/img/modelos/modelo6.jpg" alt="login" class="login-card-img">
              <p class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small"
                style="background-color: rgba(0, 0, 0, 0.5); padding: 10px;">
                Crea una cuenta en <a href="/" target="_blank" class="text-white">
                  KunturStyle</a> para poder realizar pedidos
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/header.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
  </body>
</html>